variant: fcos
version: 1.0.0
storage:
  directories:
    - path: /etc/kubernetes/cni/net.d
  files:
    - path: /etc/kubernetes/cni/net.d/example
      mode: 0644
      contents:
        inline: |
          Sample file
